@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menus {
    <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Permissions", "Index", "PermissionAdmin")</li>
        </ul>
    </li>
    @*<li>@Html.ActionLink("Thùng rác", "Index", "RecycleBin")</li>*@
    <li>@Html.ActionLink("Config", "Index", "AppConfigs")
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Ext Authentication", "ConfigExt", "AppConfigs", new { typeName=typeof(SSD.SSO.Config.ExtAuthentication).FullName },null)</li>
        <li>@Html.ActionLink("Ext Authen OpenId", "ConfigExt", "AppConfigs", new { typeName = typeof(SSD.SSO.Config.ExtAuthenticationOpenIdConnect).FullName }, null)</li>
        <li>@Html.ActionLink("Mail Service", "ConfigExt", "AppConfigs", new { typeName = typeof(SSD.Framework.Email.SmtpData).FullName }, null)</li>
        <li>@Html.ActionLink("Send Email Confirmation", "ConfigExt", "AppConfigs", new { typeName = typeof(SSD.Framework.Email.SmtpData).FullName }, null)</li>
        <li>@Html.ActionLink("Two-Factor Authentication", "ConfigExt", "AppConfigs", new { typeName = typeof(SSD.SSO.Config.SMSServerData).FullName }, null)</li>

        <li>@Html.ActionLink("Scopes Manager", "Index", "Scopes")</li>
        <li><a id="ClearLogDB" href="#">Clear Cache</a></li>
        <li><a id="RestartApplication" href="#">Restart Application</a></li>
    </ul>
    </li>
}
@RenderBody()
@section scripts {
    @RenderSection("scripts", required: false)
<script type="text/javascript">
    (function ($) {
        $("#ClearLogDB").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("ClearLogBD", "AppConfigs", routeValues: new { area = "Admin" })',
                success: function (response) {
                    // có eval() tránh fail
                    alert("Clear log database successful")
                }
            });
        });

        $("#RestartApplication").click(function () {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("RestartApplication", "AppConfigs", routeValues: new { area = "Admin" })',
                    success: function (response) {
                        // có eval() tránh fail
                        alert("Restart application successful")
                    }
                });
            });
    })(jQuery);
</script>

}
