@using SSD.Web.UI.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadSection{
     @*Captcha*@
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/Rating/rateit.css")" rel="stylesheet" type="text/css" charset="utf-8">

    <link href="@Url.Content("~/Content/FileManager/css/elfinder.css")" rel="stylesheet" type="text/css" charset="utf-8">
    <script src="@Url.Content("~/Scripts/FileManager/elfinder.full.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/FileManager/i18n/elfinder.vi.js")"    type="text/javascript" charset="utf-8"></script>
    
    <link href="@Url.Content("~/Content/SlideShow/Pretty/css/prettyPhoto.css")" rel="stylesheet" type="text/css" >
    <link href="@Url.Content("~/Content/SlideShow/Pretty/css/tiny.scroller.css")" rel="stylesheet" type="text/css" >
    <script src="@Url.Content("~/Scripts/SlideShow/Pretty/jquery.prettyPhoto.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SlideShow/Pretty/tiny.scroller.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/SlideShow/Nivo/nivo-slider.css")" rel="stylesheet" type="text/css">
    <script src="@Url.Content("~/Scripts/SlideShow/Nivo/jquery.nivo.slider.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/SlideShow/Nivo/themes/default/default.css")" rel="stylesheet" type="text/css" >
    <link href="@Url.Content("~/Content/SlideShow/Nivo/themes/orman/orman.css")" rel="stylesheet" type="text/css" >
    <link href="@Url.Content("~/Content/SlideShow/Nivo/themes/pascal/pascal.css")" rel="stylesheet" type="text/css" >

    <link href="@Url.Content("~/Content/SlideShow/oSlide/oSlide.css")" rel="stylesheet" type="text/css" >
    <script src="@Url.Content("~/Scripts/SlideShow/oSlide/jquery.oSlide-0.9.2.js")" type="text/javascript"></script>
    <style type="text/css">


	</style>

}@Html.FileManager()



<div id="popupabcde12345" style="display:none;">
        <h3>
            SimleText:</h3>
        @Html.Editor("popupSimleText")
        <h3>
            Description:</h3>
        @Html.TextArea("popupDescription", null, 15, 30, null)
</div>
<div id="abcde12345">
@using (Html.BeginForm())
    {
        <h3>
            SimleText:</h3>
        @Html.Editor("SimleText")
        <h3>
            Description:</h3>
        @Html.TextArea("Description", null, 15, 30, null)
        
        <br />
        //the second parameter is the number of characters
        @Html.Captcha(6)
        <br />
        <br />
        <input type="submit" value="Submit" />
   
    }
    </div>
@Html.UGEditor("a")

@Html.TagCloud(new SSD.Web.UI.Tags.TagCloud(new Dictionary<string, int> {
                        {"C#", 58},
                        {"ASP.NET", 45},
                        {"VB.NET", 36}
                    },
                        new SSD.Web.UI.Tags.TagCloudGenerationRules
                    {
                        TagToolTipFormatString = "Tag count: {0}",
                        TagUrlFormatString = "/Articles/Search?searchText={0}",
                        MaxNumberOfTags = 30,
                        Order = SSD.Web.UI.Tags.TagCloudOrder.WeightDescending,
                        RequiredTagWeight = 10,
                        TagCssClassPrefix = "TagWeightGroup",
                        WeightClassPartitioning = new System.Collections.ObjectModel.ReadOnlyCollection<int>(new[] { 10, 30, 30, 30 }),
                        HtmlAttributes = new Dictionary<string, object> { { "style", "font-weight:bold;" } }
                    }).Tags)


<h2>Maps</h2>
<div id="bando" >
@using SSD.Web.UI.Maps
@Html.Map(Ajax.BingMap().CssClass("GoogleMap")
                .AddPushpin(new Pushpin(20.982184, 105.818864, "UG Center", "UG Corporation")).Zoom(10).Center(20.982184, 105.818864))

@Html.Map(Ajax.GoogleMap().CssClass("GoogleMap")
                        .AddPushpin(new Pushpin(20.982184, 105.818864, "UG Center", "UG Corporation")).Zoom(6).Center(20.982184, 105.818864)
                .AddPolygon(new Polygon(new List<LatLng>(){
	                new LatLng(21, 103),
                    new LatLng(23, 105),
	                new LatLng(21, 107),
                    new LatLng(19, 105),
                    new LatLng(20, 103)
	            })
                {
                    FillColor = "#11FF11", // Color Green
                    FillOpacity = 0.8, // 50% Opacity
                    LineColor = "#FF0000", // Color Red
                    LineOpacity = 0.8,  // 80% Opacity
                    LineWeight = 4 // Line Weight (Width) of 4px
                }))

</div>

@Html.Rating("rate01",2.5)
@Html.RatingAjax("Rating","Save","120","rate02",2.5)
<script src="@Url.Content("~/Scripts/Rating/jquery.rateit.js")" type="text/javascript"></script>
<img src="/Rating/RateChart" />
<img src="/Rating/RateChart1" />
@Html.IMStatus(new List<Nic>(){
    new Nic(Protocol.yahoo,"khoai_nv","Xin chao"),
    new Nic(Protocol.skype,"phuongdv3006","Xin chao")
},"Nguyen Van Khoai")


@{
    var lst = new List<SSD.Web.PictureCore>(){
                new SSD.Web.PictureCore(){
                    ImgUrl="/Images/Products/0000171.jpeg",
                    ImgUrlThumb_W64xH42="/Images/Resize/Products/64_42/0000171.jpeg",
                    ImgUrlThumb_W300xH200="/Images/Resize/Products/300_200/0000171.jpeg",
                    DisplayName = "0000171"
                },
                new SSD.Web.PictureCore(){
                    ImgUrl="/Images/Products/0000172.jpeg",
                    ImgUrlThumb_W64xH42="/Images/Resize/Products/64_42/0000172.jpeg",
                    DisplayName = "0000172"
                },
                new SSD.Web.PictureCore(){
                    ImgUrl="/Images/Products/0000173.jpeg",
                    ImgUrlThumb_W64xH42="/Images/Resize/Products/64_42/0000173.jpeg",
                    DisplayName = "0000173"
                },
                new SSD.Web.PictureCore(){
                    ImgUrl="/Images/Products/0000174.jpeg",
                    ImgUrlThumb_W64xH42="/Images/Resize/Products/64_42/0000174.jpeg",
                    DisplayName = "0000174"
                },
                new SSD.Web.PictureCore(){
                    ImgUrl="/Images/Products/0000175.jpeg",
                    ImgUrlThumb_W64xH42="/Images/Resize/Products/64_42/0000175.jpeg",
                    DisplayName = "0000175"
                },
                new SSD.Web.PictureCore(){
                    ImgUrl="/Images/Products/0000176.jpeg",
                    ImgUrlThumb_W64xH42="/Images/Resize/Products/64_42/0000176.jpeg",
                    DisplayName = "0000176"
                },
                new SSD.Web.PictureCore(){
                    ImgUrl="/Images/Products/0000177.jpeg",
                    ImgUrlThumb_W64xH42="/Images/Resize/Products/64_42/0000177.jpeg",
                    DisplayName = "0000177"
                }
            };
    }
@Html.SlideShow(lst)
@Html.SlideShowAjax(lst)
@Html.SlideShowOnPage(lst, ThemesSlideShowOnPage.Pascal)
