@using ADIdentityServer.Models
@model ChangePasswordModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<h2>@ViewBag.Title.</h2>
@if (ViewBag.Success != null)
{
    if (ViewBag.Success)
    {
        <h2 style='color:green;Background:yellow'>
            @ViewBag.Msg
        </h2>
    }
    else
    {
        <h2 style = 'color:red;Background:yellow' >
             @ViewBag.Msg
         </h2 >
         <p>@ViewBag.ErrorDescription</p>
    }
}

<section id="loginForm">
    @using (Html.BeginForm("ChangePassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Account, new { @class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Account, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
                        @*@Html.HiddenFor(m=>m.Account)*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change Password" class="btn btn-default" />
                    </div>
                </div>
    }
</section>